<div class="form">
	<!-- Start balance -->
	<fieldset>
		<legend>Start balance:</legend>
		<input step="500" type="number" ng-model="startBalance">
	</fieldset>
	<!-- Q1 -->
	<div ng-include="'views/q1.html'" scope="" onload=""></div>
	<!-- Q2 -->
	<div ng-include="'views/q2.html'" scope="" onload=""></div>
	<!-- Q3 -->
	<div ng-include="'views/q3.html'" scope="" onload=""></div>
	<!-- Q4 -->
	<div ng-include="'views/q4.html'" scope="" onload=""></div>
	<!-- Final results -->
	<div ng-include="'views/final-results.html'" scope="" onload=""></div>
</div>
