<fieldset ng-init="toggleQ1=false">
	<legend
		class="legend"
		ng-click="toggleQ1 = !toggleQ1">
		Q1 |
			Current balance: <strong>{{
				q1.currentBalance | currency:"$":0
			}}</strong>,
			Operations: <strong>{{
				q1.operations | currency:"$":0
			}}</strong>
	</legend>
	<div ng-show="toggleQ1">
		<!-- Revenue -->
		<fieldset>
			<legend>Revenue:</legend>
			<table>
				<thead>
					<tr>
						<td>
							Revenue
						</td>
						<td>
							Total
						</td>
						<td>
							Explanation
						</td>
					</tr>
				</thead>
				<tbody>
					<!-- Operations -->
					<tr>
						<td>
							Operations
						</td>
						<td>
							{{q1.operations | currency:"$":0}}
						</td>
						<td>
							Operation for Q1 = Start Balance + Profit from Initiative Q1 (which is InitRevenue - InitExpense)
						</td>
					</tr>
					<!-- Initiatives -->
					<tr>
						<td>
							Initiatives
						</td>
						<td>
							<input step="500" type="number" ng-model="q1.initiativeRevenue">
						</td>
						<td>
							Initiatives Revenue
						</td>
					</tr>
					<!-- Activites -->
					<tr>
						<td>
							Activites
						</td>
						<td>
							<input step="500" type="number" ng-model="q1.activity">
						</td>
						<td>
							Correct answers + time bonus
						</td>
					</tr>
					<!-- q1.Quiz -->
					<tr>
						<td>
							Quiz
						</td>
						<td>
							<input step="500" type="number" ng-model="q1.quiz">
						</td>
						<td>
							We do NOT reward $ for quiz
						</td>
					</tr>
					<!-- Total -->
					<tr>
						<td>
							Total
						</td>
						<td>
							{{q1.totalRevenue | currency:"$":0}}
						</td>
						<td>
							Sum of (Operation Q1 + Init Revenue + Activity + Quiz)
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Expense -->
		<fieldset>
			<legend>Expense:</legend>
			<table>
				<thead>
					<tr>
						<td>
							Expense
						</td>
						<td>
							Total
						</td>
						<td>
							Explanation
						</td>
					</tr>
				</thead>
				<tbody>
					<!-- Budget -->
					<tr>
						<td>
							Budget
						</td>
						<td>
							<input step="500" type="number" ng-model="q1.budget">
						</td>
						<td>
							Total spend on budget items
						</td>
					</tr>
					<!-- Initiatives -->
					<tr>
						<td>
							Initiatives
						</td>
						<td>
							<input step="500" type="number" ng-model="q1.initiativeExpense">
						</td>
						<td>
							Initiatives Expense
						</td>
					</tr>
					<!-- Events -->
					<tr>
						<td>
							Events
						</td>
						<td>
							<input step="500" type="number" ng-model="q1.eventMoney">
						</td>
						<td>
							Events Expense
						</td>
					</tr>
					<!-- Total -->
					<tr>
						<td>
							Total
						</td>
						<td>
							{{q1.budget + q1.initiativeExpense + q1.eventMoney | currency:"$":0}}
						</td>
						<td>
							Sum of (Budget + Init expense + Event)
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Profit and bonus -->
		<fieldset>
			<legend>Profit and bonus:</legend>
			<table>
				<tbody>
					<!-- Profit -->
					<tr>
						<td>
							Profit
						</td>
						<td>
							{{q1.profit | currency:"$":0}}
						</td>
						<td>
							Total Revenue - Total Expense
						</td>
					</tr>
					<!-- Bonus -->
					<tr>
						<td>
							Bonus
						</td>
						<td>
							{{q1.bonus | currency:"$":0}}
						</td>
						<td>
							10% from Operation Q1
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Total earnings -->
		<fieldset>
			<legend>Total earnings:</legend>
			<table>
				<tbody>
					<!-- Total -->
					<tr>
						<td>
							Total earnings
						</td>
						<td>
							{{q1.totalEarnings | currency:"$":0}}
						</td>
						<td>
							Profit + Bonus
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Start balance for next quarter -->
		<fieldset>
			<legend>Total profit from normal operations:</legend>
			<table>
				<tbody>
					<!-- Total -->
					<tr>
						<td>
							Total profit from normal operations:
						</td>
						<td>
							{{q1.operationsAndBonus | currency:"$":0}}
						</td>
						<td>
							Operation Q1 + Bonus
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
</fieldset>
