<fieldset ng-init="toggleQ1=false">
	<legend
		class="legend"
		ng-click="toggleQ1 = !toggleQ1">
		Q1
	</legend>
	<div ng-show="toggleQ1">
		<!-- Start balance -->
		<fieldset>
			<legend>Start balance:</legend>
			<input type="number" ng-model="q1.startBalance">
		</fieldset>
		<!-- Revenue -->
		<fieldset>
			<legend>Revenue:</legend>
			<table>
				<thead>
					<tr>
						<td>
							Revenue
						</td>
						<td>
							Total
						</td>
						<td>
							Explanation
						</td>
					</tr>
				</thead>
				<tbody>
					<!-- Operations -->
					<tr>
						<td>
							Operation
						</td>
						<td>
							initiativePlus: {{q1.initiativePlus}} - initiativeMinus: {{q1.initiativeMinus}} + Start balance: {{q1.startBalance}} = {{q1.initiativePlus - q1.initiativeMinus + q1.startBalance}}
						</td>
						<td>
							Some text
						</td>
					</tr>
					<!-- Initiatives -->
					<tr>
						<td>
							Initiatives
						</td>
						<td>
							<input type="number" ng-model="q1.initiativePlus">
						</td>
						<td>
							Some text
						</td>
					</tr>
					<!-- Activites -->
					<tr>
						<td>
							Activites
						</td>
						<td>
							<input type="number" ng-model="q1.activity">
						</td>
						<td>
							Some text
						</td>
					</tr>
					<!-- q1.Quiz -->
					<tr>
						<td>
							q1.Quiz
						</td>
						<td>
							<input type="number" ng-model="q1.quiz">
						</td>
						<td>
							Some text
						</td>
					</tr>
					<!-- Total -->
					<tr>
						<td>
							Total
						</td>
						<td>
							Operations: {{q1.initiativePlus - q1.initiativeMinus + q1.startBalance}} + q1.initiativePlus: {{q1.initiativePlus}} + Activities: {{activity}} + q1.Quiz: {{q1.quiz}} = {{q1.initiativePlus - q1.initiativeMinus + q1.startBalance + q1.initiativePlus + activity + q1.quiz}}
						</td>
						<td>
							Some text
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Expense -->
		<fieldset>
			<legend>Expense:</legend>
			<table>
				<thead>
					<tr>
						<td>
							Expense
						</td>
						<td>
							Total
						</td>
						<td>
							Explanation
						</td>
					</tr>
				</thead>
				<tbody>
					<!-- Budget -->
					<tr>
						<td>
							Budget
						</td>
						<td>
							<input type="number" ng-model="q1.budget">
						</td>
						<td>
							Some text
						</td>
					</tr>
					<!-- Initiatives -->
					<tr>
						<td>
							Initiatives
						</td>
						<td>
							<input type="number" ng-model="q1.initiativeMinus">
						</td>
						<td>
							Some text
						</td>
					</tr>
					<!-- Events -->
					<tr>
						<td>
							Events
						</td>
						<td>
							<input type="number" ng-model="q1.eventMoney">
						</td>
						<td>
							Some text
						</td>
					</tr>
					<!-- Total -->
					<tr>
						<td>
							Total
						</td>
						<td>
							Budget: {{budget}} + Initiatives: {{q1.initiativeMinus}} + Events: {{eventMoney}} = {{budget + q1.initiativeMinus + eventMoney}}
						</td>
						<td>
							Some text
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Profit and bonus -->
		<fieldset>
			<legend>Profit and bonus:</legend>
			<table>
				<tbody>
					<!-- Profit -->
					<tr>
						<td>
							Profit
						</td>
						<td>
							Total revenue: {{q1.initiativePlus - q1.initiativeMinus + q1.startBalance + q1.initiativePlus + activity + q1.quiz}} - Total expense: {{budget + q1.initiativeMinus + eventMoney}} = {{(q1.initiativePlus - q1.initiativeMinus + q1.startBalance + q1.initiativePlus + activity + q1.quiz)-(budget + q1.initiativeMinus + eventMoney)}}
						</td>
						<td>
							Some text
						</td>
					</tr>
					<!-- Bonus -->
					<tr>
						<td>
							Bonus
						</td>
						<td>
							{{(q1.initiativePlus - q1.initiativeMinus + q1.startBalance)*0.1}}
						</td>
						<td>
							10% from Operation
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Total earnings -->
		<fieldset>
			<legend>Total earnings:</legend>
			<table>
				<tbody>
					<!-- Total -->
					<tr>
						<td>
							Total earnings
						</td>
						<td>
							Profit: {{(q1.initiativePlus - q1.initiativeMinus + q1.startBalance + q1.initiativePlus + activity)-(budget + q1.initiativeMinus + eventMoney)}} + Bonus: {{(q1.initiativePlus - q1.initiativeMinus + q1.startBalance)*0.1}} = {{(q1.initiativePlus - q1.initiativeMinus + q1.startBalance + q1.initiativePlus + activity)-(budget + q1.initiativeMinus + eventMoney)+((q1.initiativePlus - q1.initiativeMinus + q1.startBalance)*0.1)}}
						</td>
						<td>
							Some text
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Start balance for next quarter -->
		<fieldset>
			<legend>Total profit from normal operations:</legend>
			<table>
				<tbody>
					<!-- Total -->
					<tr>
						<td>
							Total profit from normal operations (operations For Q2):
						</td>
						<td>
							Operations: {{q1.initiativePlus - q1.initiativeMinus + q1.startBalance}} + Bonus: {{(q1.initiativePlus - q1.initiativeMinus + q1.startBalance)*0.1}} = {{(q1.initiativePlus - q1.initiativeMinus + q1.startBalance)+((q1.initiativePlus - q1.initiativeMinus + q1.startBalance)*0.1)}}
						</td>
						<td>
							Start balance for next quarter
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
</fieldset>
