<fieldset
	ng-init="toggleQ2=false">
	<legend
		class="legend"
		ng-click="toggleQ2 = !toggleQ2">
		Q2 |
			Current balance: <strong>{{
				q2.currentBalance | currency:"$":0
			}}</strong>,
			Operations: <strong>{{
				q2.operations | currency:"$":0
			}}</strong>
	</legend>
	<div ng-show="toggleQ2">
		<!-- Revenue -->
		<fieldset>
			<legend>Revenue:</legend>
			<table>
				<thead>
					<tr>
						<td>
							Revenue
						</td>
						<td>
							Total
						</td>
						<td>
							Explanation
						</td>
					</tr>
				</thead>
				<tbody>
					<!-- Operations -->
					<tr>
						<td>
							Operations
						</td>
						<td>
							{{q2.operations | currency:"$":0}}
						</td>
						<td>
							Operation for Q2 = Operation Q1 + Bonus + Profit from Initiative Q2 (which is InitRevenue - InitExpense)
						</td>
					</tr>
					<!-- Initiatives -->
					<tr>
						<td>
							Initiatives
						</td>
						<td>
							<input step="500" type="number" ng-model="q2.initiativeRevenue">
						</td>
						<td>
							Initiatives Revenue
						</td>
					</tr>
					<!-- Activites -->
					<tr>
						<td>
							Activites
						</td>
						<td>
							<input step="500" type="number" ng-model="q2.activity">
						</td>
						<td>
							Correct answers + time bonus
						</td>
					</tr>
					<!-- Quiz -->
					<tr>
						<td>
							Quiz
						</td>
						<td>
							<input step="500" type="number" ng-model="q2.quiz">
						</td>
						<td>
							We do NOT reward $ for quiz
						</td>
					</tr>
					<!-- Total -->
					<tr>
						<td>
							Total
						</td>
						<td>
							{{q2.totalRevenue | currency:"$":0}}
						</td>
						<td>
							Sum of (Operation Q2 + Init Revenue + Activity + Quiz)
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Expense -->
		<fieldset>
			<legend>Expense:</legend>
			<table>
				<thead>
					<tr>
						<td>
							Expense
						</td>
						<td>
							Total
						</td>
						<td>
							Explanation
						</td>
					</tr>
				</thead>
				<tbody>
					<!-- Budget -->
					<tr>
						<td>
							Budget
						</td>
						<td>
							<input step="500" type="number" ng-model="q2.budget">
						</td>
						<td>
							Total spend on budget items
						</td>
					</tr>
					<!-- Initiatives -->
					<tr>
						<td>
							Initiatives
						</td>
						<td>
							<input step="500" type="number" ng-model="q2.initiativeExpense">
						</td>
						<td>
							Initiatives Expense
						</td>
					</tr>
					<!-- Events -->
					<tr>
						<td>
							Events
						</td>
						<td>
							<input step="500" type="number" ng-model="q2.eventMoney">
						</td>
						<td>
							Events Expense
						</td>
					</tr>
					<!-- Total -->
					<tr>
						<td>
							Total
						</td>
						<td>
							{{q2.totalExpense | currency:"$":0}}
						</td>
						<td>
							Sum of (Budget + Init expense + Event)
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Profit and bonus -->
		<fieldset>
			<legend>Profit and bonus:</legend>
			<table>
				<tbody>
					<!-- Profit -->
					<tr>
						<td>
							Profit
						</td>
						<td>
							{{q2.profit | currency:"$":0}}
						</td>
						<td>
							Total Revenue - Total Expense
						</td>
					</tr>
					<!-- Bonus -->
					<tr>
						<td>
							Bonus
						</td>
						<td>
							{{q2.bonus | currency:"$":0}}
						</td>
						<td>
							10% from Operation
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Total earnings -->
		<fieldset>
			<legend>Total earnings:</legend>
			<table>
				<tbody>
					<!-- Total -->
					<tr>
						<td>
							Total earnings
						</td>
						<td>
							{{q2.totalEarnings | currency:"$":0}}
						</td>
						<td>
							Profit Q2 + Bonus Q2
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Start balance for next quarter -->
		<fieldset>
			<legend>Total profit from normal operations:</legend>
			<table>
				<tbody>
					<!-- Total -->
					<tr>
						<td>
							Total profit from normal operations (operations For Q3):
						</td>
						<td>
							{{q2.operationsAndBonus | currency:"$":0}}
						</td>
						<td>
							Operations Q2 + Bonus Q2 (start operation for Q3)
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
</fieldset>
