<fieldset
	ng-init="toggleQ4=true">
	<legend
		class="legend"
		ng-click="toggleQ4 = !toggleQ4">
		Q4 |
			Current balance: <strong>{{
				q4.currentBalance | currency:"$":0
			}}</strong>,
			Operations: <strong>{{
				q4.operations | currency:"$":0
			}}</strong>
	</legend>
	<div ng-show="toggleQ4">
		<!-- Revenue -->
		<fieldset>
			<legend>Revenue:</legend>
			<table>
				<thead>
					<tr>
						<td>
							Revenue
						</td>
						<td>
							Total
						</td>
						<td>
							Explanation
						</td>
					</tr>
				</thead>
				<tbody>
					<!-- Operations -->
					<tr>
						<td>
							Operations
						</td>
						<td>
							{{q4.operations | currency:"$":0}}
						</td>
						<td>
							Operation for Q4 = Operation Q1 + Bonus + Profit from Initiative Q4 (which is InitRevenue - InitExpense)
						</td>
					</tr>
					<!-- Initiatives -->
					<tr>
						<td>
							Initiatives
						</td>
						<td>
							<input step="500" type="number" ng-model="q4.initiativeRevenue">
						</td>
						<td>
							Initiatives Revenue
						</td>
					</tr>
					<!-- Activites -->
					<tr>
						<td>
							Activites
						</td>
						<td>
							<input step="500" type="number" ng-model="q4.activity">
						</td>
						<td>
							Correct answers + time bonus
						</td>
					</tr>
					<!-- Quiz -->
					<tr>
						<td>
							Quiz
						</td>
						<td>
							<input step="500" type="number" ng-model="q4.quiz">
						</td>
						<td>
							We do NOT reward $ for quiz
						</td>
					</tr>
					<!-- Total -->
					<tr>
						<td>
							Total
						</td>
						<td>
							{{q4.totalRevenue | currency:"$":0}}
						</td>
						<td>
							Sum of (Operation Q4 + Init Revenue + Activity + Quiz)
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Expense -->
		<fieldset>
			<legend>Expense:</legend>
			<table>
				<thead>
					<tr>
						<td>
							Expense
						</td>
						<td>
							Total
						</td>
						<td>
							Explanation
						</td>
					</tr>
				</thead>
				<tbody>
					<!-- Budget -->
					<tr>
						<td>
							Budget
						</td>
						<td>
							<input step="500" type="number" ng-model="q4.budget">
						</td>
						<td>
							Total spend on budget items
						</td>
					</tr>
					<!-- Initiatives -->
					<tr>
						<td>
							Initiatives
						</td>
						<td>
							<input step="500" type="number" ng-model="q4.initiativeExpense">
						</td>
						<td>
							Initiatives Expense
						</td>
					</tr>
					<!-- Events -->
					<tr>
						<td>
							Events
						</td>
						<td>
							<input step="500" type="number" ng-model="q4.eventMoney">
						</td>
						<td>
							Events Expense
						</td>
					</tr>
					<!-- Total -->
					<tr>
						<td>
							Total
						</td>
						<td>
							{{q4.totalExpense | currency:"$":0}}
						</td>
						<td>
							Sum of (Budget + Init expense + Event)
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Profit and bonus -->
		<fieldset>
			<legend>Profit and bonus:</legend>
			<table>
				<tbody>
					<!-- Profit -->
					<tr>
						<td>
							Profit
						</td>
						<td>
							{{q4.profit | currency:"$":0}}
						</td>
						<td>
							Total Revenue - Total Expense
						</td>
					</tr>
					<!-- Bonus -->
					<tr>
						<td>
							Bonus
						</td>
						<td>
							{{q4.bonus | currency:"$":0}}
						</td>
						<td>
							10% from Operation
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Total earnings -->
		<fieldset>
			<legend>Total earnings:</legend>
			<table>
				<tbody>
					<!-- Total -->
					<tr>
						<td>
							Total earnings
						</td>
						<td>
							{{q4.totalEarnings | currency:"$":0}}
						</td>
						<td>
							Profit Q4 + Bonus Q4
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<!-- Start balance for next quarter -->
		<fieldset>
			<legend>Total profit from normal operations:</legend>
			<table>
				<tbody>
					<!-- Total -->
					<tr>
						<td>
							Total profit from normal operations (operations For Q4):
						</td>
						<td>
							{{q4.operationsAndBonus | currency:"$":0}}
						</td>
						<td>
							Operations Q4 + Bonus Q4 (start operation for Q4)
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
</fieldset>
